body {
    padding-top: 50px;
    overflow: hidden;
}

.map {
    height: calc(100vh - 50px);
    width: 100%;
}

.results {
    max-height: calc(100vh - 89px);
    overflow-y: auto;
}

.results .list-group-item {
    border-radius: 0;
}

.col-sm-9,
.col-sm-3 {
    padding: 0;
    margin: 0;
}

#message {
    position: fixed;
    margin-left: -150px;
    top: 10%;
    left: 50%;
    width: 300px;
    z-index: 7000;
}

@media (max-width: 767px) {
    .navbar-form {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 7px;
        padding-top: 7px;
    }
    .map {
        height: calc((100vh - 79px)/2);
    }
    .collapsed {
        height: calc(100vh - 75px);
    }
    .results {
        max-height: calc((100vh - 79px)/2);
    }
    h4 {
        margin-bottom: 2px;
        margin-top: 2px;
    }
}

@media (min-width: 768px) {
    .navbar-form {
        max-width: 27%;
    }
    .navbar-form .form-control {
        width: 100%;
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.ui-accordion-header {
    outline: none;
}

#accordion .ui-state-hover {
    text-decoration: underline;
    cursor: pointer;
}
